<h1>Добавь свои аватарку и имя</h1>


<%= form_for current_user, url: setting_path, method: :patch do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.file_field :avatar %>
  </p>

  <p>
    <label>
      <%= f.check_box :remove_avatar %>
      Remove avatar
    </label>
  </p>

  <p><%= f.submit %></p>
<% end %>


