<h1>Настройка</h1>


<%= form_for current_user, url: setting_path, method: :patch do |f| %>

  <div class="field">
    <%= f.label :name, 'Имя' %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :surname, 'Фамилия' %><br />
    <%= f.text_field :surname, autofocus: true %>
  </div>

  <div>
    <%= f.file_field :avatar %>
  </div>

  <div>
    <label>
      <%= f.check_box :remove_avatar %>
      <%= f.label :remove_avatar, 'Удалить аватарку' %>
    </label>
  </div>

  <div class="actions">
    <%= f.submit "Обновить данные", class: 'btn btn-primary' %>
  </div>

<% end %>


